@font-face {
    font-family: "main_text";
src: url(../../../asset/font/Syncopate/Syncopate-Regular.ttf);
}
@font-face {
    font-family: "sub_text";
    src: url(../../../asset/font/Afacad_Flux/AfacadFlux-VariableFont_slnt,wght.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    list-style-type: none ;
}
html {
    scroll-behavior: smooth;
  }
:root{
    --bg-color:#FCFAEE;
    --2nd-bg-color:#4A9D4f;
    --sub-bg-color: #005720 ;
 
    --1st-text-color: #005720 ;
    --2nd-text-color: rgb(53, 53, 53);
    --3rd-text-color: #FCFAEE;
   
    --btn-color: #F5E402;
    
    --other-color :rgb(0, 183, 255);
}
body{
  background-image: url("../../../asset/image/background/admin_bg/circle-scatter-haikei (1).png");
  background-repeat: no-repeat;
  background-size: cover;
}
#content_refresh{
  width: 95%;
  height: max-content;
  margin-top: 40px;
  margin-left: 0px;
  border-radius: 4px;

 

}
  .admin_header div h1 {
    background-color: var(--2nd-bg-color);
    padding: 10px 10px 10px 70px;
    font-family: "sub_text";
    font-size: 2rem;
    font-weight: 400;
    border-radius: 4px;
    color: var(--btn-color);
    margin-bottom: 10px;
    
  }
  .admin_header h4{
      font-size: 1.5rem;
    padding-left: 70px;
    font-family: "sub_text";
    color: var(--1st-text-color);
    font-weight: 400;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  .admin_header h4 span a{
    text-decoration: none ;
    margin-right: 70px;
    color: #005720;
    
  }
  .admin_header h4 span a:hover{
    color: var(--btn-color);
  }
  .form{
    
    height:10%;
    background-color: rgba(235, 235, 235, 0.548);
    padding-bottom: 100px;
    width: 90%;
    margin-left: 70px;
    border-radius: 4px;
    
  }
  .profile{
    
    display: flex;
    justify-content: space-between;
    height: max-content;
    padding-bottom: 30px;
    padding-top: 20px;
  }
  .profile h1{
   color: #4A9D4f;
    align-items: center;
    margin-left: 70px;
    font-size: 1.5rem;
    font-family: "sub_text";
  }
  .profile .img{
    
    
  } 
  .profile img{
    width: 250px;
    height: 250px;  
    margin-right: 500px;
  
  }
  .profile input{
    
    margin-top: 40px;
 
  border: 2px solid #4a9d506c;
  padding: 5px;
    border-radius: 4px; 
  }
  .container {
    display: grid;
      grid-template-columns: auto auto;
   
}
.label_div{
  display: grid;

  align-items: center;
  margin-left: 70px;
  font-size: 1.5rem;
  font-family: "sub_text";

}
.label_div label{
  margin-top: 40px;
  color: var(--1st-text-color);
}
.input_div{
  display: grid;
  
  align-items: center;
  margin-left: -200px;
}
.input_div input{
  margin-top: 40px;
  width: 400px;
  height: 40px;
  padding-left: 20px;
  font-size: 1rem;
  border: 2px solid rgba(128, 128, 128, 0.144);
  border-radius: 4px;
 background-color: rgb(214, 214, 214);

}
.input_div input:focus{
 outline: #4A9D4f 3px solid;
}
#submit{
  padding: 10px;
  background-color: var(--other-color);
  margin-left: 300px;
  margin-top: 50px;
  width: 100px;
  border-radius: 4px;
  border: none;
  color: var(--bg-color);
  cursor: pointer;
}
#submit:hover{
  background-color:rgb(85, 206, 253) ;
}





.main_content  #add_account{
  border: none;
  border-radius: 4px;
  padding: 15px;
  background-color: var(--2nd-bg-color);
  color: var(--bg-color);
  cursor: pointer;
  margin-top:30px;
  margin-left: 60px;
  width: max-content;
  letter-spacing: 2px;
  transition: all 0.5s ease;
  margin-bottom: 20px;
}
.sidebar.active ~ .dashboard_content .main_content  #add_account{
  margin-left: -220px;
}

table{
  border: 2px solid rgba(228, 228, 228, 0.39);
  background-color: rgba(226, 226, 226, 0.322);
  width: 90vw;
  border-collapse: collapse;
  transition: all 0.5s ease;
  border-radius:4px;
  font-family: "sub_text";
  color: var(--1st-text-color);
  margin-top: 20px;
  margin-left: 55px;
  margin-bottom: 100px;

  
}
.sidebar.active ~ .dashboard_content .table_div table{
  width: 93vw;
  margin-left: -180px;
}
table td{
padding: 5px;
  text-align: center;
}
table .img img{
height: 40px;
width: 40px;
border-radius: 20px;
border: 1px solid var(--btn-color);
}
table th{
  border: 2px solid rgba(226, 226, 226, 0.562);
  padding: 12px;
  
}
table tr:nth-child(even){background-color: #a7a5a548;}

.table_hover:hover{
  background-image: linear-gradient(140deg,var(--2nd-bg-color),var(--btn-color));
  color: var(--bg-color);
}

caption {
  font-size: 2vw;
  letter-spacing: 2px;
  background-color: var(--2nd-bg-color);
  padding-bottom: 10px;
  padding-top: 10px;
  color: var(--bg-color);
  border-radius: 4px;
  
}
#admin_manage_btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
#update_official_btn{
  color: var(--bg-color);
  cursor: pointer;
  padding: 3px 5px 3px 5px;
  background-color: transparent;
  border-radius: 4px;
  font-size: 0.9rem;
  outline: none;
  border: none;
}
#update_official_btn svg{
width: 20px;
fill: var(--other-color);
}

#update_official_btn svg:hover{
  fill: rgb(150, 202, 250);
  color: var(--1st-text-color);
}
#delete_official_btn{
  color: var(--bg-color);
  cursor: pointer;
  padding: 3px 5px 3px 5px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgb(197, 197, 197);
  outline: none;
  border: none;
  font-size: 0.9rem;
}
#delete_official_btn svg{
width: 18px;
fill: red;
}
#delete_official_btn svg:hover{
  fill: rgb(252, 134, 134);
  color: var(--1st-text-color);
}
#view_resident_btn{
color: var(--bg-color);
cursor: pointer;
width: 30px;
background-color:transparent;
border-radius: 4px;
border: 1px solid rgb(197, 197, 197);
outline: none;
border: none;
font-size: 0.9rem;
margin-right: 5px;
}
#view_resident_btn svg{
fill: #d4b62f;
width: 25px;
}
#view_resident_btn svg:hover{
fill: #f8da52;
color: var(--1st-text-color);
}

.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: scroll; /* Enable scroll if needed */
  background-color: rgb(153, 0, 0); /* Fallback color */
  background-color: rgba(58, 58, 58, 0.548); /* Black w/ opacity */
  animation-name: background ;
  animation-duration: 0.7s; 
}
/* Modal Content/Box */
.modal-content {
  background-color: rgb(235, 235, 235);
  margin: 2% auto; /* 15% from the top and centered */
  padding: 20px 20px 20px 50px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  animation-name: down ;
  animation-duration: 0.7s; 
  border-radius: 8px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.delete-modal{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: scroll; /* Enable scroll if needed */
  background-color: rgb(153, 0, 0); /* Fallback color */
  background-color:rgba(58, 58, 58, 0.548);; /* Black w/ opacity */
  animation-name: background ;
  animation-duration: 0.7s; 
  display: flex;
  align-items: center;
  display: none;
}
.delete-modal-content{
  background-color: rgb(235, 235, 235);
  margin: 6% auto; /* 15% from the top and centered */
  padding: 20px;
  border: none;
  width: 40%; /* Could be more or less, depending on screen size */
  animation-name: down ;
  animation-duration: 0.7s; 
  border-radius: 4px;
  text-align: center;
  font-family: "sub_text";
  border-radius: 8px;
}
.delete-modal-content svg{
  width: 100px;
  fill: #d4b62f;
  padding-top: 20px;
}
.delete-modal-content h2{
  padding: 20px 0px 40px 0px;
  font-size: 2.5rem;
  color: var(--1st-text-color);
}
.delete-modal-content h3{
  padding: 20px 0px 50px 0px;
  font-size: 1.4rem;
  color: var(--1st-text-color);
}
.delete-modal-content .div-delete{
display: flex;
justify-content: space-evenly;
}
#confirm-delete{
  background-color: var(--2nd-bg-color);
  padding: 10px;
  width: 10vw;
  border: none;
  font-size: 1.2rem;
  color: var(--bg-color);
  cursor: pointer;
  border-radius: 4px;
  
}
#cancel-delete{
  background-color: red;
  width: 10vw;
  padding: 20px;
  border: none;
  font-size: 1.2rem;
  color: var(--bg-color);
  cursor: pointer;
  border-radius: 4px;
}

.edit-modal{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: scroll; /* Enable scroll if needed */
  background-color: rgb(153, 0, 0); /* Fallback color */
  background-color: rgba(58, 58, 58, 0.548); /* Black w/ opacity */
  animation-name: background ;
  animation-duration: 0.7s; 
  display: none;
}
.edit-modal-content{
  background-color: rgb(235, 235, 235);
  margin: 2% auto; /* 15% from the top and centered */
  padding: 20px 20px 20px 60px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  animation-name: down ;
  animation-duration: 0.7s; 
  border-radius: 8px;
  
}

.update-close-btn{
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}
.update-close-btn:hover,
.update-close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes background {
  from {
      opacity: 10%;
  }
  to {opacity: 100%;}
}
@keyframes down {
  from {
      margin-top: -20%;
  }
  to {opacity: 100%;}
}
.container{
 
  display: grid;
  grid-template-columns: auto auto;
  font-family: "sub_text";
  
}
form h1{
  font-family: "sub_text";
  color: var(--1st-text-color);
}
.container input,select{
  width: 20vw;
  height: 30px;
  padding: 3px 10px 0px 10px;
  border-radius: 4px;
  border: none;
}

input[type='checkbox']{
  width: 20px;
  position: absolute;
  margin-left: 10px;

}
#checkbox_edit{
  outline: none;
}

#checkbox:focus{
  outline: none;
}
#password{
  width: 17vw;
}
.container .div_1{
  
  width: max-content;
  margin-top: 20px;
}
.container #images_edit{
 
  margin-bottom: 30px;
  width: 220px;
  height: 220px;
}
.container .div_1 input,select{
  margin-top: 10px;
  margin-bottom: 10px;
}
.container .div_1 input:focus,select:focus{
  outline: 3px solid var(--2nd-bg-color);
}
.container .div_1 label{
  font-size: 1.2rem;
  font-family: "sub_text";
  color: var(--1st-text-color);
}
.container .div_2{
 
  width: max-content;
  margin-top: 20px;
  margin-right: 50px;

}
.container .id_number{
  margin-top: -200px;
  margin-bottom: 118px;
}
.container #div_2{
  margin-top: 280px;
}
.container .div_2 input:focus,select:focus{
  outline: 3px solid var(--2nd-bg-color);
}
.container .div_2 input{
  margin-top: 10px;
  margin-bottom: 10px;
}
.container .div_2 label{
  font-size: 1.2rem;
  font-family: "sub_text";
  color: var(--1st-text-color);
}
 .div_3{
  display: flex;
  justify-content: space-evenly;
  padding-right: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}
 .div_3 input{
  padding: 10px;
  width: 60px;
  border: none;
  cursor: pointer;
}
#submit_add{
  background-color: var(--2nd-bg-color);
  border-radius: 4px;
  color: var(--bg-color);
}
#submit_add:hover{
background-color: #28d334;
}
#reset_add{
  background-color: var(--other-color);
  border-radius: 4px;
  color: var(--bg-color);
}
#reset_add:hover{
  background-color: rgb(83, 206, 255);
}


