@font-face {
    font-family: "main_text";
src: url(../../../asset/font/Syncopate/Syncopate-Regular.ttf);
}
@font-face {
    font-family: "sub_text";
    src: url(../../../asset/font/Afacad_Flux/AfacadFlux-VariableFont_slnt,wght.ttf);
}
table{
border: 2px solid rgba(228, 228, 228, 0.39);
margin-left: 110px;
margin-top: 10px;
background-color: rgba(226, 226, 226, 0.322);
width: 77vw;
border-collapse: collapse;
transition: all 0.5s ease;
border-radius:4px;
font-family: "sub_text";
text-align: center;
color: var(--1st-text-color);
}
.sidebar.active ~ .dashboard_content #content_certificate table{
    width: 93vw;
    margin-left: 100px;
}
table td{
  padding: 8px;
    
}
table th{
    border: 2px solid rgba(211, 211, 211, 0.562);
   padding: 8px;
    
}
table tr:nth-child(even){background-color: #a7a5a548;}

.table_hover:hover{
    background-image: linear-gradient(140deg,var(--2nd-bg-color),var(--btn-color));
    color: var(--bg-color);
}

caption {
    font-size: 2vw;
    letter-spacing: 2px;
    background-color: var(--2nd-bg-color);
    padding-bottom: 10px;
    padding-top: 10px;
    color: var(--bg-color);
    border-radius: 4px;
    
}







.dropdown-btns {
  background-color: #4CAF50;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 5px;
}

.dropdown-btns:hover {
  background-color: #3e8e41;
}

.dropdown-contents {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width:fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 0px 12px 0px;
  z-index: 1;
  border-radius: 2px;
}

.dropdown-contents li {
  margin-bottom: 2px;
  display: flex;
}
.dropdown-contents li button{
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #f9f9f9;
  cursor: pointer;
  color:#005720 ;
  font-weight: 500;
 
 
}
.dropdown-contents li button:hover{
  background-color: #d3d3d3;
  color: #3e8e41;
}




.dropdown-contents li:last-child {
  margin-bottom: 0;
}

.arrow {
  border: solid whitesmoke;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  vertical-align: middle;
}

.down {
  transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
}
#delete_official_btn{
  color: rgba(255, 0, 0, 0.342);
}
#delete_official_btn:hover{
  color: rgba(255, 0, 0, 0.842);
}





/* delete btn */
.delete-modal{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: scroll; /* Enable scroll if needed */
  background-color: rgb(153, 0, 0); /* Fallback color */
  background-color:rgba(58, 58, 58, 0.548);; /* Black w/ opacity */
  animation-name: background ;
  animation-duration: 0.7s; 
  align-items: center;
  display: none;
}
.delete-modal-content{
  background-color: rgb(235, 235, 235);
  margin: 6% auto; /* 15% from the top and centered */
  padding: 20px;
  border: none;
  width: 40%; /* Could be more or less, depending on screen size */
  animation-name: down ;
  animation-duration: 0.7s; 
  border-radius: 4px;
  text-align: center;
  font-family: "sub_text";
  border-radius: 8px;
}
.delete-modal-content svg{
  width: 100px;
  fill: #d4b62f;
  padding-top: 20px;
}
.delete-modal-content h2{
  padding: 20px 0px 40px 0px;
  font-size: 2.5rem;
  color: var(--1st-text-color);
}
.delete-modal-content h3{
  padding: 20px 0px 50px 0px;
  font-size: 1.4rem;
  color: var(--1st-text-color);
}
.delete-modal-content .div-delete{
display: flex;
justify-content: space-evenly;
}
#confirm-delete{
  background-color: var(--2nd-bg-color);
  padding: 10px;
  width: 10vw;
  border: none;
  font-size: 1.2rem;
  color: var(--bg-color);
  cursor: pointer;
  border-radius: 4px;
  
}
#cancel-delete{
  background-color: red;
  width: 10vw;
  padding: 20px;
  border: none;
  font-size: 1.2rem;
  color: var(--bg-color);
  cursor: pointer;
  border-radius: 4px;
}

@keyframes background {
  from {
      opacity: 10%;
  }
  to {opacity: 100%;}
}
@keyframes down {
  from {
      margin-top: -20%;
  }
  to {opacity: 100%;}
}

