@font-face {
    font-family: "main_text";
    src: url(../asset/font/Syncopate/Syncopate-Regular.ttf);
}
@font-face {
    font-family: "sub_text";
    src: url(../asset/font/Afacad_Flux/AfacadFlux-VariableFont_slnt,wght.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}
html {
    scroll-behavior: smooth;
  }
:root{
    --bg-color:#FCFAEE;
    --2nd-bg-color:#4A9D4f;
    --sub-bg-color: #005720 ;
 
    --1st-text-color: #005720 ;
    --2nd-text-color: rgb(53, 53, 53);
    --3rd-text-color: #FCFAEE;
   
    --btn-color: #F5E402;

    --other-color :rgb(0, 183, 255);
}
body{
    background-color: var(--bg-color);
}
#main{
    background-image: linear-gradient(45deg, rgba(255, 238, 2, 0.281),rgba(104, 184, 57, 0.5),rgba(45, 170, 7, 0.473)), 
    url(../asset/image/background/background.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 60% ;
    background-attachment: fixed;
    text-align: center;
    font-family: "main_text";
    letter-spacing: 3px;
}
#main h1{
    font-size: 2.8rem;
    padding-top: 50px;
    color: var(--bg-color);
}
#main h2{
    font-size: 2.3rem;
    padding-top: 10px;
    color: var(--btn-color);
}
#main h3{
    font-weight: 700;
    font-size: 2rem;
    padding-top: 10px;
    color: var(--1st-text-color);
}
#main #logos{
    width: 250px;
    filter: drop-shadow(rgb(41, 63, 43) 10px 10px 10px);
    border-radius: 50%;
    height: 250px;
}
.form-request{
    height: max-content;
    width: 80%;
    margin-left: 110px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: -100px;
    background-color:var(--bg-color);
    padding: 70px 40px 40px 0px;
    box-shadow: 10px 10px 50px rgb(157, 173, 147);

}
.officer_div{
    background-color:rgb(235, 235, 235) ;
    padding: 20px 20px 20px 20px;
    border-radius: 1px;
    box-shadow: 10px 10px 10px rgba(49, 49, 49, 0.24);
}
.officer_div .img_div{
    background-color: rgba(186, 252, 88, 0.295);
    padding: 10px 5px 10px 5px;
    border-radius: 2px;
}
.officer_div .img_div div{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.308);
    position: relative;
    top: -40px;
    margin-bottom: -30px;
    padding: 2px;
    color: var(--2nd-bg-color);
   
}
.officer_div .img_div div h5{
    text-decoration: underline;
    font-size: 1rem;
    font-style: bold;
}
.officer_div .img_div div h6{
    text-decoration: none;
    font-size: 0.8rem;
    color: red;
}
.officer_div img{
    width: 300px;
    height: 300px;
}
.officer_div .name_official{
   color: var(--2nd-bg-color);
    display: block;
    padding-top: 10px;
}
.officer_div .name_official h4{
    font-size: 1.5rem;
    
}
.officer_div .name_official p{
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.form-request form{
    padding:40px 40px 40px 40px;
    background-color: rgb(235, 235, 235);
    height: fit-content;
    width: 40%;
    border-radius: 4px;
    box-shadow: 10px 10px 10px rgba(49, 49, 49, 0.24);
}
.form-request form h1{
    padding: 20px 20px 20px 0px;
    font-size: 1.6rem;
    font-family: "sub_text";
    color: var(--1st-text-color);
}
.form-request form h1 svg{
  height: 28px;
  fill: var(--1st-text-color);
  margin-right: 10px;
}
.form-request form .item1{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    margin-bottom: 5px;

   
}
.form-request form #select{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px 5px 0px 10px;
    color: var(--1st-text-color);
    outline: none;
   border-radius: 4px;
   border: none;
}
.form-request form input{
   width: 100%;
   height: 35px;
   margin-top: 5px;
   margin-bottom: 5px;
   padding: 0px 5px 0px 10px;
   color: var(--1st-text-color);
   outline: none;
  border-radius: 4px;
  border: none;
}
.form-request form input:focus{
    outline: 3px solid var(--2nd-bg-color);
}
.form-request form label{
    font-size: 1.2rem;
    color: var(--1st-text-color);
    font-family: "sub_text";
    font-weight: 600;
}
.form-request form #purpose{
    height: 60px;
}
.form-request form #purpose{
    height: 60px;
}
.submit_reset_return_div{
    display: flex;
    justify-content: start;
    align-items: center;
    
    padding-top: 30px;
 
}
.submit_reset_return_div #submit{
    width: 100px;
    padding: 10px;
    height: max-content;
    background-color: #4A9D4f;
    color: var(--bg-color);
    letter-spacing: 2px;
    cursor: pointer;
}
.submit_reset_return_div #submit:focus{
    outline: none;
  }
  .submit_reset_return_div #submit:hover{
    background-color:#65bb6b ;
  }
.submit_reset_return_div #reset{
    width: 100px;
    padding: 10px;
    height: max-content;
    background-color:rgb(0, 183, 255);
    color: var(--bg-color);
    letter-spacing: 2px;
    margin-left: 20px;
    cursor: pointer;
}
.submit_reset_return_div #reset:focus{
    outline: none;
  }
  .submit_reset_return_div #reset:hover{
    background-color:rgb(139, 216, 247);
  }
.submit_reset_return_div #return{
    padding: 11px;
    border-radius: 4px;
    border: none;
    width: 7vw;
    height: max-content;
    background-color:red;
    color: var(--bg-color);
    letter-spacing: 2px;
    margin-left: 20px;
    cursor: pointer;
}
.submit_reset_return_div #return:focus{
  outline: none;
}
.submit_reset_return_div #return:hover{
    background-color:rgb(243, 90, 90);
}